/export
/tmp
/.las2peer
/node-storage
/startup
/log
/lib
etc/ivy/ivy.jar
/service
/etc/startup
*.iml
/.idea
restMapping.xml
/out
/ocd/doca/cover.txt
/ocd/doca/network.txt
/ocd/eclipselink/serviceCreateDLL.jdbc
/ocd/lfr/network.dat
/ocd/lfr/statistics.dat
/ocd/lfr/time_seed.dat
/ocd/lfr/community.dat
/ocd/yGuard
/indexes/
*.jdbc
